{% extends './padre.html' %}
{% load static %}

{% block contenidoEleccion %}

    <h2>Búsqueda de personajes</h2>

    <form action="{% url 'buscar' %}" method="GET">
        <input type="text" name= "nombre" id="nombre">
        <input type="submit" value="busqueda de personaje">
    </form>

    {{ mensaje }}

    {% if personajes %}
    <ul>
    {% for personaje in personajes %}
    <li>{{ personaje.nombre }}</li>
    <li>{{ personaje.raza }}</li>
    <li>{{ personaje.edad }}</li>
    <br>
    {% endfor %}
    </ul>
    {% else %}
    <p> Todavía no se ha creado ningún personaje!</p>
    {% endif %}
{% endblock %}