{% extends './padre.html' %}
{% load static %}

{% block contenidoEleccion %}


    <div class="col-lg-8">
        <h2>Contenido en desarrollo</h2>
        <p class="lead">Considérese privilegiado! Usted fue elegido para poder conocer de antemano este proyecto. El mismo forma parte del curso de Python desarrollado por CODERHOUSE. Por favor sepa disculpar eventuales errores y espero disfrute de la visita! Por ahora la única funcionalidad activa es un prototipo de creación de personajes.
            Estamos evaluando la posibilidad de agregar nuevas y curiosas funcionalidades.
        </p>
    </div>

    {{ mensaje }}

{% endblock %}